@import "adress.css";
@import "projects.css";
@import "~normalize.css";

:root {
  --text-color: rgb(58, 58, 58);
  --bg-color: white;
  --padding: 20px;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background-color: var(--bg-color, white);
}

a {
  color: var(--text-color, black);
  text-decoration: none;
}

a:visited {
  color: var(--text-color, black);
}

h1 {
  text-transform: uppercase;
  padding: var(--padding);
  margin: 0 0 30px 0;
  color: var(--text-color, black);
  font-size: 45px;
  font-weight: 300;
}

h2 {
  color: var(--text-color, black);
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
}
